<div style="margin-top: 10px">
  <h3 align="center">{{ pessoa ? "Alterar" : "Adicionar" }} Pessoa</h3>
  <div *ngIf="aparecerMsg" class="success-box">
    <p class="success-text">
      A pessoa {{ nomeAntigo }} foi {{ pessoa ? "alterada" : "adicionada" }} com
      sucesso!
    </p>
    <div class="close" (click)="sumirMsg()"></div>
  </div>
  <form [formGroup]="pessoaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nome: </label>
      <input type="text" class="form-control" formControlName="nome" required />
      <span
        *ngIf="
          !pessoaForm.get('nome').valid &&
          pessoaForm.get('nome').touched
        "
        class="badge badge-danger"
        >Nome Inválido!</span
      >
    </div>
    <div class="form-group">
      <label>Telefone: </label>
      <input
        type="tel"
        class="form-control"
        formControlName="telefone"
        placeholder="(DDD)9XXXX-XXXX"
        mask="(00) 00000-0000"
        required
      />
      <span
        *ngIf="
          !pessoaForm.get('telefone').valid &&
          pessoaForm.get('telefone').touched
        "
        class="badge badge-danger"
        >Telefone Inválido!</span
      >
    </div>
    <div class="form-group">
      <label>Numero do CPF: </label>
      <input
        type="tel"
        class="form-control"
        formControlName="cpf"
        placeholder="XXX.XXX.XXX-XX"
        mask="000.000.000-00"
        required
      />
      <span
        *ngIf="!pessoaForm.get('cpf').valid && pessoaForm.get('cpf').touched"
        class="badge badge-danger"
        >CPF Inválido!</span
      >
    </div>
    <div class="form-group">
      <label>Cursos: </label>
      <ul>
        <li *ngFor="let curso of cursos">
          <input
            (click)="selecionarCurso(curso)"
            [id]="curso.id"
            type="checkbox"
            [value]="curso.nome"
            [checked]="verificarCurso(curso)"
          />
          {{ curso.nome }}
        </li>
      </ul>
    </div>
    <div class="form-group">
      <input
        type="submit"
        [value]="pessoa ? 'Atualizar' : 'Adicionar'"
        class="btn btn-primary"
        [disabled]="pessoaForm.invalid"
      />
    </div>
  </form>
</div>
