<div>
  <h3 align="center">Lista de Pessoas</h3>
  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0 col-md-12">
      <input
        class="form-control mr-sm-2"
        style="width: 100%"
        type="text"
        placeholder="Pesquisar"
        (change)="onChangeFilter($event)"
      />
    </div>
  </form>
  <table class="table table-striped" style="margin-top: 20px">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Número do CPF</th>
        <th colSpan="2"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let pessoa of filterPessoas
            | paginate: { itemsPerPage: 6, currentPage: page }
        "
      >
        <ng-container *ngIf="!pessoa.isDeleted">
          <td>{{ pessoa.nome | formataNome }}</td>
          <td>{{ pessoa.telefone | formataTelefone }}</td>
          <td>{{ pessoa.cpf | formataCpf }}</td>
          <td>
            <button (click)="onEditarClick(pessoa)" class="btn btn-primary">
              Editar
            </button>
          </td>
          <td>
            <button (click)="openDeletarDialog(pessoa)" class="btn btn-danger">
              Deletar
            </button>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    (pageChange)="page = $event"
    previousLabel="Anterior"
    nextLabel="Próximo"
  ></pagination-controls>
</div>
