<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink='/' class="navbar-brand">
        Aplicação Cliente
    </a>
    <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
    >
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLink='/' class="nav-link">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a routerLink='/add' class="nav-link">
                    Adicionar pessoa
                </a>
            </li>
            <li class="nav-item">
                <a routerLink='/courses' class="nav-link">
                    Cursos
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
  <br />
  <h2>Bem-vindo ao Sistema!</h2> <br />
  <router-outlet></router-outlet>
</div>

